iot/node-red-data/flows_env.json
[
  {
    "id": "tab_env_flow",
    "type": "tab",
    "label": "Environment IoT Bridge",
    "disabled": false,
    "info": "Role 4: Rain Sensor + Ultrasonic → POST /environment-data"
  },

  {
    "id": "mqtt_in_env",
    "type": "mqtt in",
    "z": "tab_env_flow",
    "name": "Subscribe city/+/environment",
    "topic": "city/+/environment",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_broker",
    "x": 140, "y": 100,
    "wires": [["transform_payload"]]
  },

  {
    "id": "transform_payload",
    "type": "function",
    "z": "tab_env_flow",
    "name": "Transform → /environment-data",
    "func": "const raw = msg.payload;\n\nif (raw.rainfall === undefined || raw.water_level === undefined) {\n    node.warn('[ENV] Payload tidak lengkap: ' + JSON.stringify(raw));\n    return null;\n}\n\nconst token = flow.get('IOT_JWT_TOKEN');\nif (!token) {\n    node.warn('[ENV] Token belum tersedia, payload masuk antrian.');\n    flow.set('pendingQueue', (flow.get('pendingQueue') || []).concat([msg.payload]));\n    return null;\n}\n\nmsg.payload = {\n    sensor_id   : raw.sensor_id   || 'NODE-RED-BRIDGE',\n    rainfall    : parseFloat(raw.rainfall),\n    water_level : parseFloat(raw.water_level)\n};\nmsg.headers = {\n    'Content-Type' : 'application/json',\n    'Authorization': 'Bearer ' + token\n};\nmsg.url = (env.get('API_GATEWAY_URL') || 'http://api-gateway:3000') + '/environment-data';\n\nnode.log('[ENV] rainfall=' + msg.payload.rainfall + ' water_level=' + msg.payload.water_level);\nreturn msg;",
    "outputs": 1,
    "x": 380, "y": 100,
    "wires": [["http_post_env", "debug_transform"]]
  },

  {
    "id": "http_post_env",
    "type": "http request",
    "z": "tab_env_flow",
    "name": "POST /environment-data",
    "method": "POST",
    "ret": "obj",
    "url": "",
    "x": 650, "y": 100,
    "wires": [["handle_response"]]
  },

  {
    "id": "handle_response",
    "type": "function",
    "z": "tab_env_flow",
    "name": "Handle response",
    "func": "const status = msg.statusCode;\nif (status === 201 || status === 200) {\n    node.log('[ENV OK] Data tersimpan.');\n} else if (status === 401) {\n    node.warn('[ENV] Token expired, force refresh.');\n    flow.set('iot_token_exp', 0);\n    flow.set('pendingQueue', (flow.get('pendingQueue') || []).concat([msg.payload]));\n} else if (status === 429) {\n    node.warn('[ENV] Rate limit, masuk antrian.');\n    flow.set('pendingQueue', (flow.get('pendingQueue') || []).concat([msg.payload]));\n} else {\n    node.error('[ENV ERROR ' + status + '] ' + JSON.stringify(msg.payload));\n}\nreturn msg;",
    "outputs": 1,
    "x": 900, "y": 100,
    "wires": [["debug_response"]]
  },

  {
    "id": "debug_transform",
    "type": "debug",
    "z": "tab_env_flow",
    "name": "Debug transform",
    "active": true,
    "complete": "payload",
    "x": 650, "y": 180,
    "wires": []
  },

  {
    "id": "debug_response",
    "type": "debug",
    "z": "tab_env_flow",
    "name": "Debug response",
    "active": false,
    "complete": "payload",
    "x": 1080, "y": 100,
    "wires": []
  },

  {
    "id": "inject_retry",
    "type": "inject",
    "z": "tab_env_flow",
    "name": "Retry queue (60s)",
    "repeat": "60",
    "once": false,
    "x": 140, "y": 300,
    "wires": [["flush_queue"]]
  },

  {
    "id": "flush_queue",
    "type": "function",
    "z": "tab_env_flow",
    "name": "Flush queue",
    "func": "const queue = flow.get('pendingQueue') || [];\nif (queue.length === 0) return null;\nconst item = queue.shift();\nflow.set('pendingQueue', queue);\nmsg.payload = item;\nmsg.url = (env.get('API_GATEWAY_URL') || 'http://api-gateway:3000') + '/environment-data';\nmsg.headers = { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + (flow.get('IOT_JWT_TOKEN') || '') };\nreturn msg;",
    "outputs": 1,
    "x": 380, "y": 300,
    "wires": [["http_post_env"]]
  },

  {
    "id": "inject_token_refresh",
    "type": "inject",
    "z": "tab_env_flow",
    "name": "Check/Refresh Token (tiap 30s)",
    "repeat": "30",
    "once": true,
    "onceDelay": "1",
    "payload": "",
    "payloadType": "date",
    "x": 150, "y": 460,
    "wires": [["check_token_expiry"]]
  },

  {
    "id": "check_token_expiry",
    "type": "function",
    "z": "tab_env_flow",
    "name": "Cek token masih valid?",
    "func": "const exp = flow.get('iot_token_exp') || 0;\nif (Date.now() < exp - 60000) {\n    node.status({ fill: 'green', shape: 'dot', text: 'token valid' });\n    return null;\n}\nnode.status({ fill: 'yellow', shape: 'ring', text: 'refreshing...' });\nreturn msg;",
    "outputs": 1,
    "x": 400, "y": 460,
    "wires": [["build_token_request"]]
  },

  {
    "id": "build_token_request",
    "type": "function",
    "z": "tab_env_flow",
    "name": "Build request /oauth/token",
    "func": "const authUrl = env.get('AUTH_SERVICE_URL') || 'http://auth-service:3002';\nmsg.url = authUrl + '/oauth/token';\nmsg.method = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = {\n    grant_type: 'client_credentials',\n    client_id: env.get('IOT_CLIENT_ID') || 'iot-environment-device',\n    client_secret: env.get('IOT_CLIENT_SECRET') || ''\n};\nreturn msg;",
    "outputs": 1,
    "x": 650, "y": 460,
    "wires": [["http_request_token"]]
  },

  {
    "id": "http_request_token",
    "type": "http request",
    "z": "tab_env_flow",
    "name": "POST /oauth/token",
    "method": "POST",
    "ret": "obj",
    "url": "",
    "x": 880, "y": 460,
    "wires": [["save_iot_token"]]
  },

  {
    "id": "save_iot_token",
    "type": "function",
    "z": "tab_env_flow",
    "name": "Simpan token",
    "func": "if (msg.statusCode === 200 && msg.payload && msg.payload.access_token) {\n    flow.set('IOT_JWT_TOKEN', msg.payload.access_token);\n    flow.set('iot_token_exp', Date.now() + (msg.payload.expires_in || 3600) * 1000);\n    node.status({ fill: 'green', shape: 'dot', text: 'token refreshed' });\n    node.log('[AUTH OK] Token refreshed');\n} else {\n    node.status({ fill: 'red', shape: 'ring', text: 'auth failed' });\n    node.error('[AUTH FAILED] ' + JSON.stringify(msg.payload));\n}\nreturn null;",
    "outputs": 1,
    "x": 1080, "y": 460,
    "wires": [[]]
  },

  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Mosquitto Broker",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "node-red-env-bridge",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "credentials": {
      "user": "iot_device",
      "password": "iot_secret"
    }
  }
]